body {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 2mm;
}

.hce {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
}

.hme {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hhe {
    margin: 0;
    padding: 0;
    position: relative;
}

.hhi {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    background-size: contain;
}

.hls {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hfS {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hcD {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hcI {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hcS {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hfN {
    margin: 0;
    padding: 0;
    position: relative;
}

.hmB {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hmO {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hmT {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hpN {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    white-space: nowrap;
}

.htC {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: top;
    overflow: hidden;
}

.haN {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
}

.hdu {
    margin: 0;
    padding: 0;
    position: relative;
}

.hdS {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hsC {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hsR {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hsG {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hsL {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hsT {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
}

.hsE {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
}

.hsA {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
}

.hsP {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
}

.hsV {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
}

.hsO {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hsU {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
}

.hpi {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hch {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hcG {
    margin: 0;
    padding: 0;
    position: absolute;
}

.heq {
    margin: 0;
    padding: 0;
    position: absolute;
}

.heG {
    margin: 0;
    padding: 0;
    position: absolute;
}

.htA {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hvi {
    margin: 0;
    padding: 0;
    position: absolute;
}

.htb {
    margin: 0;
    padding: 0;
    position: absolute;
}

.htG {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hfJ {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hfG {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hfB {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hfR {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hfC {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hfO {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hfL {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hfM {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hfE {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hpl {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hs {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: visible;
}

.hpa {
    position: relative;
    padding: 0;
    overflow: hidden;
    margin-left: 2mm;
    margin-right: 0mm;
    margin-bottom: 2mm;
    margin-top: 0mm;
    border: 1px black solid;
    box-shadow: 1mm 1mm 0 #aaaaaa;
}

.hpa::after {
    content: "";
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    z-index: -2;
}

.hrt {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    white-space: inherit;
    line-height: 1.1;
}

.hco {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    white-space: inherit;
}

.hcc {
    margin: 0;
    padding: 0;
    position: absolute;
}

.hls {
    clear: both;
}

[onclick] {
    cursor: pointer;
}

.cs0 {
    font-size: 11pt;
    color: #000000;
    font-family: "문체부 바탕체";
}

.cs1 {
    font-size: 11pt;
    color: #000000;
    font-family: "바탕";
    font-weight: bold;
}

.cs2 {
    font-size: 20pt;
    color: #000000;
    font-family: "HY견명조";
}

.cs3 {
    font-size: 11pt;
    color: #000000;
    font-family: "바탕";
    font-weight: bold;
}

.cs4 {
    font-size: 20pt;
    color: #000000;
    font-family: "HY견고딕";
}

.cs5 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
}

.cs6 {
    font-size: 11.48pt;
    color: #000000;
    font-family: "돋움";
    letter-spacing: -0.03em;
}

.cs7 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
}

.cs8 {
    font-size: 11pt;
    color: #000000;
    font-family: "바탕";
}

.cs9 {
    font-size: 11pt;
    color: #000000;
    font-family: "HY견명조";
}

.cs10 {
    font-size: 9pt;
    color: #000000;
    font-family: "굴림";
}

.cs11 {
    font-size: 10pt;
    color: #000000;
    font-family: "굴림";
}

.cs12 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
}

.cs13 {
    font-size: 9pt;
    color: #000000;
    font-family: "바탕";
    letter-spacing: -0.03em;
}

.cs14 {
    font-size: 9pt;
    color: #000000;
    font-family: "굴림";
    letter-spacing: -0.03em;
}

.cs15 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
}

.cs16 {
    font-size: 11pt;
    color: #000000;
    font-family: "바탕";
    font-weight: bold;
}

.cs17 {
    font-size: 10pt;
    color: #000000;
    font-family: "맑은 고딕";
}

.cs18 {
    font-size: 13pt;
    color: #000000;
    font-family: "굴림";
}

.cs19 {
    font-size: 11pt;
    color: #000000;
    font-family: "HY견명조";
}

.cs20 {
    font-size: 20pt;
    color: #000000;
    font-family: "바탕";
}

.cs21 {
    font-size: 13pt;
    color: #000000;
    font-family: "HY견명조";
}

.cs22 {
    font-size: 16pt;
    color: #000000;
    font-family: "HY견고딕";
}

.cs23 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
    font-weight: bold;
}

.cs24 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
    letter-spacing: 0.01em;
}

.cs25 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
}

.cs26 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
    letter-spacing: -0.02em;
}

.cs27 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
    letter-spacing: -0.02em;
    font-weight: bold;
}

.cs28 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
    letter-spacing: -0.02em;
}

.cs29 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
    letter-spacing: -0.02em;
}

.cs30 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
}

.cs31 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
    letter-spacing: 0.01em;
}

.cs32 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
    letter-spacing: -0.01em;
}

.cs33 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
}

.cs34 {
    font-size: 8pt;
    color: #000000;
    font-family: "바탕";
    letter-spacing: 0.01em;
}

.ps0 {
    text-align: justify;
}

.ps1 {
    text-align: justify;
}

.ps2 {
    text-align: center;
}

.ps3 {
    text-align: justify;
}

.ps4 {
    text-align: center;
}

.ps5 {
    text-align: justify;
}

.ps6 {
    text-align: center;
}

.ps7 {
    text-align: center;
}

.ps8 {
    text-align: justify;
}

.ps9 {
    text-align: center;
}

.ps10 {
    text-align: justify;
}

.ps11 {
    text-align: justify;
}

.ps12 {
    text-align: justify;
}

.ps13 {
    text-align: justify;
}

.ps14 {
    text-align: justify;
}

.ps15 {
    text-align: justify;
}

.ps16 {
    text-align: justify;
}

.ps17 {
    text-align: justify;
}

.ps18 {
    text-align: justify;
}

.ps19 {
    text-align: justify;
}

.ps20 {
    text-align: justify;
}

.ps21 {
    text-align: justify;
}

.ps22 {
    text-align: justify;
}

.ps23 {
    text-align: right;
}

.ps24 {
    text-align: center;
}

.ps25 {
    text-align: center;
}

.ps26 {
    text-align: right;
}

.ps27 {
    text-align: center;
}

.ps28 {
    text-align: center;
}

.ps29 {
    text-align: center;
}

.ps30 {
    text-align: justify;
}

.ps31 {
    text-align: justify;
}

.ps32 {
    text-align: right;
}

.ps33 {
    text-align: justify;
}

.ps34 {
    text-align: justify;
}

.ps35 {
    text-align: center;
}

.ps36 {
    text-align: justify;
}

.ps37 {
    text-align: justify;
}

.date-input,
.inspector-input {
    border: none;
    border-bottom: 1px solid #000;

    height: 3.2mm;
    line-height: 3.2mm;

    font-size: inherit;
    font-family: inherit;
    outline: none;
    background: transparent;

    text-align: center;

    /* ✅ 글자 ↔ 밑줄 간격 */
    padding-bottom: 0.3mm;
}

/* ✅ 년 input 더 길게 */
.date-input.year {
    width: 11mm;
    /* 기존 8mm → 11mm */
}

.date-input.month,
.date-input.day {
    width: 5mm;
}

.inspector-input {
    width: 100%;
    text-align: left;
    padding-bottom: 0.3mm;
}

.hc02-num {
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;

    height: 2.9mm;
    line-height: 2.9mm;
    padding: 0 0.2mm 0.3mm;
    /* 글자-밑줄 살짝 띄움 */
    text-align: center;

    font-size: inherit;
    font-family: inherit;
    width: 5mm;
    /* 기본 폭 */
}

/* 자리 좁은 칸(예: 1분당, 총2회)은 조금 더 작게 */
.hc02-num[name="HC02_01"],
.hc02-num[name="HC02_03"] {
    width: 5.5mm;
}

/* 초(60/120)는 좀 더 넓게 */
.hc02-num[name="HC02_05"],
.hc02-num[name="HC02_06"],
.hc02-num[name="HC02_07"],
.hc02-num[name="HC02_09"] {
    width: 8mm;
}

.selectable {
    cursor: pointer;
    padding: 0 1mm;
}

.selectable.selected {
    font-weight: 700;
    /* 굵게 */
    color: #000;
    /* 진하게 */
    border-bottom: 1.2px solid #000;
    padding-bottom: 0.4mm;
}

.divider {
    color: #555;
}

.time-input,
.flow-input {
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;

    height: 2.9mm;
    line-height: 2.9mm;
    padding-bottom: 0.3mm;
    /* 글자-밑줄 살짝 띄움 */

    text-align: center;
    font-size: inherit;
    font-family: inherit;
}

.time-input.hh,
.time-input.mm {
    width: 6mm;
    /* 00 형태 */
}

.flow-input {
    width: 8mm;
    /* 000 형태 */
}

.time-input,
.flow-input,
.kg-input,
.count-input,
.sec-input,
.method-input {
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;

    height: 2.9mm;
    line-height: 2.9mm;
    padding-bottom: 0.3mm;

    font-size: inherit;
    font-family: inherit;
}

.time-input,
.sec-input,
.flow-input,
.kg-input,
.count-input {
    text-align: center;
}

.time-input.hh,
.time-input.mm {
    width: 5.5mm;
}

/* 00 */
.sec-input {
    width: 5.5mm;
}

/* 00 */
.flow-input,
.kg-input {
    width: 8mm;
}

/* 000 */
.count-input {
    width: 6mm;
}

/* 00 */

.method-input {
    width: 100%;
    text-align: left;
    padding-left: 0.6mm;
}

.method-small {
    font-size: 0.85em;
    /* 기존 대비 살짝 작게 */
}

.ox-left:has(input:checked)~.ox-text .ox-o {
    outline: 0.45pt solid #000;
    outline-offset: 0.3mm;
}

.ox-right:has(input:checked)~.ox-text .ox-x {
    outline: 0.45pt solid #000;
    outline-offset: 0.3mm;
}

@media print {
    .hpa {
        margin: 0;
        border: 0 black none;
        box-shadow: none;
    }

    body {
        padding: 0;
    }
}

/* ============================================================ 
   사용자 입력 필드 스타일 (타이틀 영역)
   ============================================================ */
.title-input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    outline: none;
    color: inherit;
    text-align: center;
    line-height: inherit;
    padding: 0;
    margin: 0;
    cursor: text;
}

.date-input-full {
    width: 100%;
    height: 110%;
    border: none;
    background: transparent;
    outline: none;
    text-align: center;
    line-height: inherit;
    padding: 0;
    margin: 0;
    cursor: text;
}