table {
	width: 100%;
	border-collapse: collapse;
	overflow-x : scroll;
}

table th {
    font-family: SpoqaHanSansNeo;
	padding: .8rem;
	background-color: #f5f5f5;
	border: none;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	text-align: center;
	font-size: 13px;
	padding-top : 8px;
	padding-bottom : 8px;
}

table td {
    font-family: SpoqaHanSansNeo;
	border: none;
	font-size: 15px;
	color: #000;
	border-bottom: 1px solid #b7bfc7;
    padding: 10px;
}

table thead th {
    font-family: SpoqaHanSansNeo;
	background-color: #fff;
	color: #000;
	border: none;
	border-top: 2px solid #000 !important;
	border-bottom: 1px solid #000 !important;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 15px;
}

/* ---------- 반응형 테이블 시작 ---------- */
.responsive-table {
    width: 100%;
    border-collapse: collapse;
}

.responsive-table td, .responsive-table th {
    border: 1px solid #ddd !important;
    text-align: center;
}

.responsive-table th {
    background-color: #555;
    color: #fff;
}

.responsive-table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

/* 첫 번째 td의 배경색을 회색으로 설정 */
.responsive-table td:first-child {
    background-color: #e0e0e0; /* 회색 배경 */
}

@media(max-width: 500px) {
    .responsive-table thead {
        display: none;
    }

    .responsive-table, .responsive-table tbody, .responsive-table tr, .responsive-table td {
        display: block;
        width: 100%;
    }

    .responsive-table tr:not(:last-child) {
        border-bottom: none !important;
    }

    .responsive-table tr {
        margin-bottom: 15px;
    }

    .responsive-table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    /* 반응형에서 첫 번째 td의 배경색 유지 */
    .responsive-table td:first-child {
        background-color: #e0e0e0; /* 반응형일 때도 회색 배경 적용 */
    }

    .responsive-table td::before {
        content: attr(data-label);
        position: absolute;
        left:0;
        width: 50%;
        padding-left:15px;
        font-weight:bold;
        text-align:left;
    }
}
/* ---------- 반응형 테이블 끝 ---------- */
