/* default button */
.btn {
	padding : 9px 15.4px;
	font-size : 13px;
	font-weight : 400;
	border-radius : 0.25rem;
	opacity : 0.95;
	outline : none;
	border : none;
	font-family: 'Roboto', sans-serif;
	text-align : center;
	vertical-align : middle;
}

.btn:hover {
	opacity : 1;
}

.btn-mini {
	padding : 5px 7px !important;
	font-size : 11px !important;
	font-weight : 400 !important;
	border-radius : 0.3rem !important;
	opacity : 0.95;
	outline : none;
	border : none;
	font-family: 'Roboto', sans-serif;
	text-align : center;
	vertical-align : middle;
}

.btn-mini:hover {
	opacity : 1;
}

.btn-small {
	padding : 6px 8px !important;
	font-size : 11.375px !important;
	font-weight : 400 !important;
	border-radius : 0.3rem !important;
	opacity : 0.95;
	outline : none;
	border : none;
	font-family: 'Roboto', sans-serif;
	text-align : center;
	vertical-align : middle;
}

.btn-small:hover {
	opacity : 1;
}

.btn-middle {
    height: 28px;
	padding : 0 15.2px;
	font-size : 13.25px;
	font-weight : 400;
	border-radius : 0.25rem;
	opacity : 0.95;
	outline : none;
	border : none;
	font-family: 'Roboto', sans-serif;
	text-align : center;
	vertical-align : middle;
}

.btn-middle:hover {
	opacity : 1;
}

.btn-large {
	padding : 12.2px 20.2px;
	font-size : 16.25px;
	font-weight : 400;
	border-radius : 0.25rem;
	opacity : 0.95;
	outline : none;
	border : none;
	font-family: 'Roboto', sans-serif;
	text-align : center;
	vertical-align : middle;
}

.btn-large:hover {
	opacity : 1;
}

.btn-full {
    width : 100%;
	padding : 12.2px 20.2px;
	font-size : 16.25px;
	font-weight : 400;
	border-radius : 0.25rem;
	opacity : 0.95;
	outline : none;
	border : none;
	font-family: 'Roboto', sans-serif;
	text-align : center;
	vertical-align : middle;
}

.btn-full:hover {
	opacity : 1;
}

/* round btn */
.btn-rounded {
	padding : 9px 18.4px;
	font-size : 13px;
	font-weight : 400;
	border-radius : 0.9rem;
	opacity : 0.95;
	outline : none;
	border : none;
	font-family: 'Roboto', sans-serif;
	text-align : center;
	vertical-align : middle;
}

.btn-rounded:hover {
	opacity : 1;
}

.btn-rounded-small {
	padding : 5px 14px;
	font-size : 11.375px;
	font-weight : 400;
	border-radius : 0.9rem;
	opacity : 0.95;
	outline : none;
	border : none;
	font-family: 'Roboto', sans-serif;
	text-align : center;
	vertical-align : middle;
}

.btn-rounded-small:hover {
	opacity : 1;
}

.btn-rounded-large {
	padding : 12.2px 23.2px;
	font-size : 16.25px;
	font-weight : 400;
	border-radius : 1.2rem;
	opacity : 0.95;
	outline : none;
	border : none;
	font-family: 'Roboto', sans-serif;
	text-align : center;
	vertical-align : middle;
}

.btn-rounded-large:hover {
	opacity : 1;
}


.kr {
	font-family: 'Noto Sans KR', sans-serif;
}

.primary {
	color : #ffffff;
	background : #405189;
}

.secondary {
	color : #ffffff;
	background : #3577F1;
}

.success {
	color : #ffffff;
	background : #0AB39c;
}

.orange {
	color : #ffffff;
	background : #e04f3a;
}

.info {
	color : #ffffff;
	background : #299CDB;
}

.warning {
	color : #ffffff;
	background : #F7B84B;
}

.danger {
	color : #ffffff;
	background : #ff0000;
}

.light {
	color : #000000;
	background : #F3F6F9;
}

.dark {
	color : #ffffff;
	background : #212529;
}

.grey-100 {
	color : var(--ze-black);
	background : #f3f6f9;
}

.grey-200 {
	color : var(--ze-black);
	background : #eff2f7;
}

.grey-300 {
	color : var(--ze-black);
	background : #e9ebec;
}

.grey-400 {
	color : var(--ze-black);
	background : #ced4da;
}

.grey-500 {
	color : var(--ze-black);
	background : #adb5bd;
}

.grey-600 {
	color : var(--ze-black);
	background : #878a99;
}

.grey-700 {
	color : var(--ze-black);
	background : #495057;
}

.grey-800 {
	color : var(--ze-black);
	background : #343a40;
}

.grey-900 {
	color : var(--ze-black);
	background : #212529;
}

.primary:hover {
	color : #ffffff;
}

.secondary:hover {
	color : #ffffff;
}

.success:hover {
	color : #ffffff;
}

.info:hover {
	color : #ffffff;
}

.warning:hover {
	color : #ffffff;
}

.danger:hover {
	color : #ffffff;
}

.light:hover {
	color : #000000;
}

.dark:hover {
	color : #ffffff;
}

.grey-100:hover {
	color : var(--ze-black);
}

.grey-200:hover {
	color : var(--ze-black);
}

.grey-300:hover {
	color : var(--ze-black);
}

.grey-400:hover {
	color : var(--ze-black);
}

.grey-500:hover {
	color : var(--ze-black);
}

.grey-600:hover {
	color : var(--ze-black);
}

.grey-700:hover {
	color : var(--ze-black);
}

.grey-800:hover {
	color : var(--ze-black);
}

.grey-900:hover {
	color : var(--ze-black);
}

/* outline btn */
.outline-primary {
	color : #405189;
	border : 1px solid #405189;
	background : #FFFFFF;
}

.outline-secondary {
	color : #3577F1;
	border : 1px solid #3577F1;
	background : #FFFFFF;
}

.outline-success {
	color : #0AB39c;
	border : 1px solid #0AB39c;
	background : #FFFFFF;
}

.outline-info {
	color : #299CDB;
	border : 1px solid #299CDB;
	background : #FFFFFF;
}

.outline-warning {
	color : #F7B84B;
	border : 1px solid #F7B84B;
	background : #FFFFFF;
}

.outline-danger {
	color : #F06548;
	border : 1px solid #F06548;
	background : #FFFFFF;
}

.outline-dark {
	color : #212529;
	border : 1px solid #212529;
	background : #FFFFFF;
}

.outline-primary:hover {
	color : #FFFFFF;
	border : 1px solid #405189;
	background : #405189;
}

.outline-secondary:hover {
	color : #FFFFFF;
	border : 1px solid #3577F1;
	background : #3577F1;
}

.outline-success:hover {
	color : #FFFFFF;
	border : 1px solid #0AB39c;
	background : #0AB39c;
}

.outline-info:hover {
	color : #FFFFFF;
	border : 1px solid #299CDB;
	background : #299CDB;
}

.outline-warning:hover {
	color : #FFFFFF;
	border : 1px solid #F7B84B;
	background : #F7B84B;
}

.outline-danger:hover {
	color : #FFFFFF;
	border : 1px solid #F06548;
	background : #F06548;
}

.outline-dark:hover {
	color : #FFFFFF;
	border : 1px solid #212529;
	background : #212529;
}

/* soft btn */
.soft-primary {
	color : #405189;
	border : 1px solid #E2E5ED;
	background : #E2E5ED;
}

.soft-secondary {
	color : #3577F1;
	border : 1px solid #E1EBFD;
	background : #E1EBFD;
}

.soft-success {
	color : #0AB39c;
	border : 1px solid #DAF4F0;
	background : #DAF4F0;
}

.soft-info {
	color : #299CDB;
	border : 1px solid #DFF0FA;
	background : #DFF0FA;
}

.soft-warning {
	color : #F7B84B;
	border : 1px solid #FEF4E4;
	background : #FEF4E4;
}

.soft-danger {
	color : #F06548;
	border : 1px solid #FDE8E4;
	background : #FDE8E4;
}

.soft-dark {
	color : #212529;
	border : 1px solid #E9EBEC;
	background : #E9EBEC;
}

.soft-primary:hover {
	color : #FFFFFF;
	border : 1px solid #405189;
	background : #405189;
}

.soft-secondary:hover {
	color : #FFFFFF;
	border : 1px solid #3577F1;
	background : #3577F1;
}

.soft-success:hover {
	color : #FFFFFF;
	border : 1px solid #0AB39c;
	background : #0AB39c;
}

.soft-info:hover {
	color : #FFFFFF;
	border : 1px solid #299CDB;
	background : #299CDB;
}

.soft-warning:hover {
	color : #FFFFFF;
	border : 1px solid #F7B84B;
	background : #F7B84B;
}

.soft-danger:hover {
	color : #FFFFFF;
	border : 1px solid #F06548;
	background : #F06548;
}

.soft-dark:hover {
	color : #FFFFFF;
	border : 1px solid #212529;
	background : #212529;
}

/* ghost btn */
.ghost-primary {
	color : #405189;
	border : 1px solid #FFFFFF;
	background : #FFFFFF;
}

.ghost-secondary {
	color : #3577F1;
	border : 1px solid #FFFFFF;
	background : #FFFFFF;
}

.ghost-success {
	color : #0AB39c;
	border : 1px solid #FFFFFF;
	background : #FFFFFF;
}

.ghost-info {
	color : #299CDB;
	border : 1px solid #FFFFFF;
	background : #FFFFFF;
}

.ghost-warning {
	color : #F7B84B;
	border : 1px solid #FFFFFF;
	background : #FFFFFF;
}

.ghost-danger {
	color : #F06548;
	border : 1px solid #FFFFFF;
	background : #FFFFFF;
}

.ghost-dark {
	color : #212529;
	border : 1px solid #FFFFFF;
	background : #FFFFFF;
}

.ghost-primary:hover {
	border : 1px solid #E2E5ED;
	background : #E2E5ED;
}

.ghost-secondary:hover {
	border : 1px solid #E1EBFD;
	background : #E1EBFD;
}

.ghost-success:hover {
	border : 1px solid #DAF4F0;
	background : #DAF4F0;
}

.ghost-info:hover {
	border : 1px solid #DFF0FA;
	background : #DFF0FA;
}

.ghost-warning:hover {
	border : 1px solid #FEF4E4;
	background : #FEF4E4;
}

.ghost-danger:hover {
	border : 1px solid #FDE8E4;
	background : #FDE8E4;
}

.ghost-dark:hover {
	border : 1px solid #E9EBEC;
	background : #E9EBEC;
}