body {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 2mm;
}
.hce {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
}
.hme {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hhe {
    margin: 0;
    padding: 0;
    position: relative;
}
.hhi {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    background-size: contain;
}
.hls {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hfS {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hcD {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hcI {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hcS {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hfN {
    margin: 0;
    padding: 0;
    position: relative;
}
.hmB {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hmO {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hmT {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hpN {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    white-space: nowrap;
}
.htC {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    vertical-align: top;
    overflow: hidden;
}
.haN {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
}
.hdu {
    margin: 0;
    padding: 0;
    position: relative;
}
.hdS {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hsC {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hsR {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hsG {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hsL {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hsT {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
}
.hsE {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
}
.hsA {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
}
.hsP {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
}
.hsV {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
}
.hsO {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hsU {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: hidden;
}
.hpi {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hch {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hcG {
    margin: 0;
    padding: 0;
    position: absolute;
}
.heq {
    margin: 0;
    padding: 0;
    position: absolute;
}
.heG {
    margin: 0;
    padding: 0;
    position: absolute;
}
.htA {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hvi {
    margin: 0;
    padding: 0;
    position: absolute;
}
.htb {
    margin: 0;
    padding: 0;
    position: absolute;
}
.htG {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hfJ {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hfG {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hfB {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hfR {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hfC {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hfO {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hfL {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hfM {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hfE {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hpl {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hs {
    margin: 0;
    padding: 0;
    position: absolute;
    overflow: visible;
}
.hpa {
    position: relative;
    padding: 0;
    overflow: hidden;
    margin-left: 2mm;
    margin-right: 0mm;
    margin-bottom: 2mm;
    margin-top: 0mm;
    border: 1px black solid;
    box-shadow: 1mm 1mm 0 #aaaaaa;
}
.hpa::after {
    content: "";
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    z-index: -2;
}
.hrt {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    white-space: inherit;
    line-height: 1.1;
}
.hco {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    white-space: inherit;
}
.hcc {
    margin: 0;
    padding: 0;
    position: absolute;
}
.hls {
    clear: both;
}
[onclick] {
    cursor: pointer;
}
.cs0 {
    font-size: 11pt;
    color: #000000;
    font-family: "문체부 바탕체";
}
.cs1 {
    font-size: 11pt;
    color: #000000;
    font-family: "바탕";
    font-weight: bold;
}
.cs2 {
    font-size: 20pt;
    color: #000000;
    font-family: "HY견명조";
}
.cs3 {
    font-size: 11pt;
    color: #000000;
    font-family: "바탕";
    font-weight: bold;
}
.cs4 {
    font-size: 20pt;
    color: #000000;
    font-family: "HY견고딕";
}
.cs5 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
}
.cs6 {
    font-size: 11.48pt;
    color: #000000;
    font-family: "돋움";
    letter-spacing: -0.03em;
}
.cs7 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
}
.cs8 {
    font-size: 11pt;
    color: #000000;
    font-family: "바탕";
}
.cs9 {
    font-size: 11pt;
    color: #000000;
    font-family: "HY견명조";
}
.cs10 {
    font-size: 9pt;
    color: #000000;
    font-family: "굴림";
}
.cs11 {
    font-size: 10pt;
    color: #000000;
    font-family: "굴림";
}
.cs12 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
}
.cs13 {
    font-size: 9pt;
    color: #000000;
    font-family: "바탕";
    letter-spacing: -0.03em;
}
.cs14 {
    font-size: 9pt;
    color: #000000;
    font-family: "굴림";
    letter-spacing: -0.03em;
}
.cs15 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
}
.cs16 {
    font-size: 11pt;
    color: #000000;
    font-family: "바탕";
    font-weight: bold;
}
.cs17 {
    font-size: 10pt;
    color: #000000;
    font-family: "맑은 고딕";
}
.cs18 {
    font-size: 13pt;
    color: #000000;
    font-family: "굴림";
}
.cs19 {
    font-size: 11pt;
    color: #000000;
    font-family: "HY견명조";
}
.cs20 {
    font-size: 20pt;
    color: #000000;
    font-family: "바탕";
}
.cs21 {
    font-size: 13pt;
    color: #000000;
    font-family: "HY견명조";
}
.cs22 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
}
.cs23 {
    font-size: 11pt;
    color: #000000;
    font-family: "바탕";
    letter-spacing: -0.01em;
    font-weight: bold;
}
.cs24 {
    font-size: 16pt;
    color: #000000;
    font-family: "HY견고딕";
}
.cs25 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
    font-weight: bold;
}
.cs26 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
}
.cs27 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
    font-weight: bold;
}
.cs28 {
    font-size: 10pt;
    color: #000000;
    font-family: "바탕";
}
.cs29 {
    font-size: 8pt;
    color: #000000;
    font-family: "바탕";
}
.ps0 {
    text-align: justify;
}
.ps1 {
    text-align: justify;
}
.ps2 {
    text-align: center;
}
.ps3 {
    text-align: justify;
}
.ps4 {
    text-align: center;
}
.ps5 {
    text-align: justify;
}
.ps6 {
    text-align: center;
}
.ps7 {
    text-align: center;
}
.ps8 {
    text-align: justify;
}
.ps9 {
    text-align: center;
}
.ps10 {
    text-align: justify;
}
.ps11 {
    text-align: justify;
}
.ps12 {
    text-align: justify;
}
.ps13 {
    text-align: justify;
}
.ps14 {
    text-align: center;
}
.ps15 {
    text-align: justify;
}
.ps16 {
    text-align: justify;
}
.ps17 {
    text-align: justify;
}
.ps18 {
    text-align: justify;
}
.ps19 {
    text-align: justify;
}
.ps20 {
    text-align: justify;
}
.ps21 {
    text-align: justify;
}
.ps22 {
    text-align: justify;
}
.ps23 {
    text-align: justify;
}
.ps24 {
    text-align: right;
}
.ps25 {
    text-align: center;
}
.ps26 {
    text-align: center;
}
.ps27 {
    text-align: center;
}
.ps28 {
    text-align: center;
}
.ps29 {
    text-align: center;
}
.ps30 {
    text-align: justify;
}
.ps31 {
    text-align: right;
}
.ps32 {
    text-align: center;
}
.ps33 {
    text-align: justify;
}
.ps34 {
    text-align: justify;
}
.ps35 {
    text-align: justify;
}
.ps36 {
    text-align: justify;
}
.ps37 {
    text-align: justify;
}
.ps38 {
    text-align: justify;
}
.ps39 {
    text-align: justify;
}
.ps40 {
    text-align: justify;
}

/* 날짜 input: mm 박스 안에서 안 잘리게 */
.date-input {
    display: inline-block;
    height: 3.1mm; /* hls line-height에 맞춤 */
    line-height: 3.1mm;
    font-size: 11px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    padding: 0;
    margin: 0 0.8mm;
    vertical-align: top; /* baseline 깨짐 방지 */
    background: transparent;
}

/* 각 자리 폭(필요시 조절) */
.date-input.year {
    width: 10mm;
    text-align: center;
}
.date-input.month {
    width: 6mm;
    text-align: center;
}
.date-input.day {
    width: 6mm;
    text-align: center;
}

/* 점검자 input */
.inspector-input {
    display: inline-block;
    width: 100%;
    height: 3.1mm;
    line-height: 3.1mm;
    font-size: 11px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    padding: 0;
    margin: 0;
    vertical-align: top;
    background: transparent;
}
/* 방법 영역 input 공통 */
.method-input {
    display: inline-block;
    height: 2.99mm; /* ps38/ps40 line-height에 맞춤 */
    line-height: 2.79mm;
    font-size: inherit; /* 기존 span 글꼴 그대로 */
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    padding: 0;
    margin: 0 0.6mm;
    vertical-align: top;
    background: transparent;
    text-align: center;
}

/* 지름 값 (3.0 / 5.0) */
.method-input.dia {
    width: 7mm;
}

/* 횟수 (1) */
.method-input.count {
    width: 5mm;
}
/* 표 안 input */
.table-input {
    display: inline-block;
    width: 100%;
    height: 2.79mm;
    line-height: 2.79mm;
    font-size: 11px;
    border: none; /* ✅ 밑줄 포함 전부 제거 */
    outline: none;
    padding: 0;
    margin: 0;
    background: transparent;
    vertical-align: top;
}

.table-input.time {
    text-align: center;
    letter-spacing: 0.2mm;
}

.table-input.text {
    text-align: left;
    padding-left: 1mm;
}

/* 체크박스: 레이아웃용 래퍼 */
.table-check {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3.53mm; /* ✅ ps14/ps31 height에 맞춤 (기존 2.79mm면 위로 붙을 수 있음) */
}
/* 실제 checkbox 숨기고(그래도 formData에는 들어감) */
.table-check input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* 체크 표시 박스 */
.check-mark {
    width: 2.8mm;
    height: 2.8mm;
    border: 1px solid #000;
    box-sizing: border-box;
}

/* 체크되면 표시 */
.table-check input[type="checkbox"]:checked + .check-mark {
    /* 체크 표시를 간단히 테두리로 표현하거나,
     필요하면 background-image로 체크 아이콘 넣어도 됨 */
    background: #000;
}

@media print {
    .hpa {
        margin: 0;
        border: 0 black none;
        box-shadow: none;
    }
    body {
        padding: 0;
    }
}
