:root {
	--modal-header: #ec407a;
}
/* 1번째 모달 */
.modal {
	display: none; 
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}
.modal-content {
	width : 100%;
	margin: 50px auto;
	/* box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17); */
	animation-name: modalopen;
	animation-duration: 1s;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.modal-header {
	background: var(--modal-header);
	padding: 15px 20px 20px 0 !important;
	color: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	display: flex !important;
	justify-content: space-between;
	align-items: center;
	font-size : 14pt;
	font-weight : bold;
}
.modal-header span.modal-title {
    padding-left: 20px;
}
.modal-header span {
    cursor: pointer;
}
.modal-search {
	margin-bottom: 5px;
}
.modal-body {
	font-size: .9rem;
	padding: 10px 20px;
	padding-top: 20px;
	background: #fff;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	/*overflow-y: scroll;*/
}

/* 2번째 모달 */
.modal2 {
	display: none; 
	position: fixed;
	z-index: 101;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}
.modal-content2 {
	margin: 50px auto;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
	animation-name: modalopen;
	animation-duration: 1s;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;

}
.modal-header2 {
	background: var(--modal-header);
	padding: 2px;
	color: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.modal-header2 h2 {
	margin-left: 10px;
}
.modal-search2 {
	margin-bottom: 5px;
}
.modal-body2 {
	font-size: .9rem;
	padding: 10px 20px;
	padding-top: 20px;
	background: #fff;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

/* 3번째 모달 */
.modal3 {
	display: none; 
	position: fixed;
	z-index: 102;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}
.modal-content3 {
	margin: 50px auto;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
	animation-name: modalopen;
	animation-duration: 1s;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;

}
.modal-header3 {
	background: var(--modal-header);
	padding: 2px;
	color: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.modal-header3 h2 {
	margin-left: 10px;
}
.modal-search3 {
	margin-bottom: 5px;
}
.modal-body3 {
	font-size: .9rem;
	padding: 10px 20px;
	padding-top: 20px;
	background: #fff;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}




.closeBtn {
	color: #ccc;
	font-size: 2rem;
	color: #fff;
	padding:10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.closeBtn:hover,.closeBtn:focus {
	color: #000;
	text-decoration: none;
	font-weight: 600;
	cursor: pointer;
}

@keyframes modalopen {
	from {opacity: 0}
	to {opacity: 1}
}
.modal__paging__area {
	margin-top: 20px;
	text-align: center;
	padding: 15px;
}

.modal__paging__area .pagination {
	display: inline-block;
}

.modal__paging__area .pagination span {
	padding: 4px 8px;
	margin: 2px;
	text-decoration: none;
	border: 1px solid #ddd;
	color : black;
	cursor: pointer;
}

.modal__paging__area .pagination span.active {
	background-color: #4caf50;
	border: 1px solid #4caf50;
	color: white;
}

.modal__paging__area .pagination span:hover:not(.active) {
	background-color: #ddd;
}

.modal__paging__area .pagination span:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.modal__paging__area .pagination span:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/*----------------------------------- advice ------------------------------------*/
/* 도움말 영역 스타일 */
.advice {
	display: none;
	position: relative;
	background-color: #fff;
	padding: 15px;
	border: 2px solid #FF6A89;
	border-radius: 5px;
	font-size: 12px;
	color: #555;
	width : 100%;
	margin-top : 10px;
	line-height : 25px;
	transition: opacity 1s; /* 트랜지션을 1초로 설정 */
}

.advice-title {
	font-size : 14px;
	font-weight : 600;
	color : black;
}

/* fade-in-out 애니메이션 */
@keyframes fade-in-out {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}