input[type='button'] {
    cursor: pointer;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
}

textarea {
    width: 100%;        
}

/* 리스트 페이지 */
table {
    width: 100%;
    border-collapse: collapse;
    line-height: 2;
    border-top: 1px solid #c5c5c7;
    table-layout: fixed; /* 각 col에 지정된 너비를 따르고, 지정되지 않은 열은 남은 공간을 차지 */
}

table thead {
    display: table-header-group; /* table-row-group 대신 기본값을 사용 */
    vertical-align: middle;
    border-color: inherit;
}

table thead tr th {
    font-size: 13px !important;
    text-align: center;
    padding: 5px 0 !important;
    letter-spacing: -0.5px;
    background: #f6f6f6 !important;
    border-bottom: 1px solid #dcdce0;
    border-left: 0;
    font-weight: 600;
    color: #333 !important;
}

table tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table tr th {
    font-size: 12px !important;    
    padding: 3px 0 3px 15px;
    letter-spacing: -0.5px;
    background: #f6f6f6 !important;
    border-bottom: 1px solid #dcdce0;
    border-left: 0;
    font-weight: 600;
    color: #333 !important;
}

table tr th:last-child {
    border-right: none;
}

table tr td {
    padding: 3px 15px;
    border-bottom: 1px solid #dcdce0;
    line-height: 1.5 !important;
}


/* 페이지의 타이틀 */
.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title-box {
        font-weight: 600;
        font-size: 16px;
    }
}

/* 등록 테이블 */
.register-table {
    tr {
        th {
            text-align: center !important;
        }

        th,
        td {
            padding: 10px 10px;            
        }
    }
}

/* 이미지 파일업로드 */
.upload-grid {
    display: flex;
    justify-content: flex-start;
    grid-gap: 10px;
}
.upload-grid .upload-element {
    width: 150px;
    height: 150px;
}
.upload-grid .upload-element input {
    display: none;
}
.upload-grid .upload-element img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.upload-grid .upload-element div {
    position: relative;
    height: 40px;
    margin-top: -40px;
    background: rgba(0,0,0,.5);
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    color: #f5f5f5;
    font-weight: 600;
}
.upload-grid .upload-element div span {
    font-size: 12px;
}